body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 120ch;
  display: block;
  margin: 8px;
  margin-inline: auto;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}